{
    "presets": [["@babel/preset-env", { "modules": false }]],
    "plugins": [
      [
        "component",
        {
          "libraryName": "juejin-element-ui",
          "styleLibraryName": "theme-chalk"
        }
      ]
    ]
  }